## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\nooru\OneDrive\Desktop\Class Folder\Module 6\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kiama,AU,60.58,clear sky,-34.6833,150.8667,The Sebel Kiama Harbourside
1,3,Castro,BR,68.52,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
2,6,Cascais,PT,69.94,broken clouds,38.6979,-9.4215,Hotel Vila Galé Cascais
3,9,Thompson,CA,66.36,broken clouds,55.7435,-97.8558,Burntwood Hotel
4,11,Port Alfred,ZA,59.63,scattered clouds,-33.5906,26.8910,The Halyards Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kiama,AU,60.58,clear sky,-34.6833,150.8667,The Sebel Kiama Harbourside
1,3,Castro,BR,68.52,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
2,6,Cascais,PT,69.94,broken clouds,38.6979,-9.4215,Hotel Vila Galé Cascais
3,9,Thompson,CA,66.36,broken clouds,55.7435,-97.8558,Burntwood Hotel
4,11,Port Alfred,ZA,59.63,scattered clouds,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...,...
237,671,Clarence Town,AU,60.85,overcast clouds,-32.5833,151.7833,River Downs Cottage
238,674,Tsiroanomandidy,MG,59.68,scattered clouds,-18.7667,46.0333,Hotel Ravinala
239,675,Lavumisa,SZ,63.12,clear sky,-27.3100,31.8920,ROADSIDE B&B
240,679,Vetlanda,SE,69.15,light rain,57.4289,15.0776,Best Western Vetlanda Stadshotell
241,681,Faranah,GN,69.84,light rain,10.0404,-10.7434,Chez mon oncle

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Mataura']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Mataura']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bluff']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Tuatapere'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Te Anau']

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,27,Mataura,NZ,57.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,32,Bluff,NZ,57.79,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,439,Tuatapere,NZ,54.66,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
3,455,Te Anau,NZ,50.52,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))